
 
 #grilla{
    width: 100%;
    height: 100vh;    
 }

 header{
    grid-area: header;
    background-color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    .logoHeader img{
        @include sizes(100px,100px );
        display: flex;
        justify-content: flex-end;
     
      }
    }


    footer {
        grid-area: footer;
        background-color: $color;
        .iconosFooter{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
         
         
          }
          .textoFooter{
            margin: 10px;
         }
         
     }
  
     .color{
      background-color: $color;
      }

      $redes: ( 
       twitter: #55aCee, 
       facebook:#3a5795,
       instagram:#C25E30,)
       ;
@each $red, $colores in $redes {
    .btn--#{$red}{
        background-color: $colores;
    }


   }
   

