
.sectionProductos{
    display:inline-flex;
    padding: 20px;
    .imagenProducto img{
        @extend .foto;
        @include sizes (250px, 250px);
        display: inline-flex;
        justify-content: space-between;
        justify-content: center;
     align-items: center;
     transition: all 3s;

                     }
                     }
      .button   {
        background-color: transparent;
        color:$color;
        cursor: pointer;
        margin-top: 25px;
        border-radius: 15px;
         &:hover{
             background-color: $color;
             color: white;
                      }
                }
     
    


 