/*mobile-smartphone*/
*{
    padding: 0;
    margin: 0;
 }
 

 
 #grilla{
    width: 100%;
    height: 100vh;
    
 
 }
 
 span:hover{
    color: white;
 }
 nav, ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a{
   text-decoration: none;
}
 a:hover{
   color: white; 
}
 li{
    margin: 50px;
    list-style: none;
 }
.tituloNav{
   display: flex;
   justify-content: center;
   align-items: center;
}

 
 header{
    grid-area: header;
    background-color: #9c6644;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
 }

 .logoHeader img{
   height: 100px;
   width: 100px;
   display: flex;
   justify-content: flex-end;

 }
 
 
 footer {
    grid-area: footer;
    background-color: #b08968;
    
 }

 .iconosFooter{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 35px;
   margin-left: 10px;
   margin-right: 10px;


 }

 .textoFooter{
    margin: 10px;
 }
 
 /* banner descuentos */
 .sectionIndex{
    background-image: url(../imagenes/banner1.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .tituloDescuento{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 15px;
   }

 .cupon{
   display: flex; 
   justify-content: end;
   margin: 10px;
   padding-top: 200px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    }



 /*banner envios*/

 .sectionIndex2{
   background-image: url(../imagenes/banner2.jpg) ;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

 }

 .tituloEnvios{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    color: beige;
 }
  
 /* productos */
.sectionProductos{
   display:inline-flex;
   padding: 20px;
   
}

.imagenProducto img{
   height: 250px;
   width: 250px;
   display: inline-flex;
   justify-content: space-between;
   justify-content: center;
align-items: center;
transition: all 3s;
}
.animacionImagen{
   transition: all 3s;
}

.animacionImagen:hover{
   transform: scale(2,2);
}



button :hover{
background-color: blue;
  color: brown;
}

.button{
   background-color: transparent;
   color: black;
   cursor: pointer;
   margin-top: 25px;
border-radius: 15px;

}

 /*grid*/
 section#oferta {
    grid-area: oferta;     
 }
 section#servicios {
    grid-area: servicios;    
    background-color: #ddb892; 
 }
 nav {
    grid-area: nav;
    background-color: #7f5539;
 }
 aside {
    grid-area: publicidad;
    background-color: #7f5539;
 }
 
 #grilla {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "oferta"
    "servicios"
    "publicidad"
    "footer"
    ;
  
    grid-template-columns: 100%;
    grid-template-rows: 100px 2fr 1fr 100px;
    gap: 5px;
    
  
   }
 
 
 
 .menuFlex{
    display: flex; 
    flex-direction: column;
    }
    
    .productosFlex{
        display: flex;
        flex-direction: column;
        background-color: pink;
        text-align: center;
    }
 
 
 
 @media(min-width:768px){
 
    #grilla {
       display: grid;
       grid-template-areas: 
       "header header"
       "nav    nav"
       "oferta  oferta"
       "servicios publicidad "
       "footer    footer"
       ;
     
       grid-template-columns:25% auto ;
       grid-template-rows: 100px 2fr 1fr 100px;
       gap: 5px;
     
      }
      .menuFlex{
       display: flex; 
       flex-direction: row;
       justify-content: space-evenly;
       }
 
       .productosFlex{
          display: flex;
          flex-direction: row;
          background-color: pink;
      }
 
 
 }
 
 
 
 
 /*desktop*/
 @media (min-width:1024px){
 
    #grilla {
     display: grid;
     grid-template-areas: 
     "nav header    header"
     "nav oferta publicidad"
     "nav servicios publicidad"
     "nav footer    footer";
   
     grid-template-columns: 20% auto 15%;
     grid-template-rows: 100px 2fr 1fr 100px;
     gap: 10px;
   
    }
   
    .menuFlex{
       display: flex; 
       flex-direction: column;
       }
       
       .productosFlex{
           display: flex;
           flex-direction: row;
           background-color: pink;
       }
    
    /*estilos Flex*/
   
 }
 