.sectionIndex2 {
  background-image: url(../imagenes/banner2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionIndex2 .tituloEnvios {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  background-color: black;
  color: beige;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #7f5539;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
  margin: 50px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.sectionProductos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px;
}

.sectionProductos .imagenProducto img {
  height: 250px;
  width: 250px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.sectionProductos .imagenProducto img .animacionImagen {
  -webkit-transition: all 3s;
  transition: all 3s;
}

.sectionProductos .imagenProducto img .animacionImagen .animacionImagen:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

.sectionProductos .imagenProducto img .button {
  background-color: transparent;
  color: black;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 15px;
}

.sectionProductos .imagenProducto img .button .button:hover {
  background-color: black;
  color: white;
}

* {
  padding: 0;
  margin: 0;
}

#grilla {
  width: 100%;
  height: 100vh;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #9c6644;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

header .logoHeader img {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #b08968;
}

footer .iconosFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

footer .textoFooter {
  margin: 10px;
}

.color {
  background-color: blueviolet;
}

/*grid*/
section#oferta {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: oferta;
}

section#servicios {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicios;
  background-color: #ddb892;
}

aside {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: publicidad;
  background-color: #7f5539;
}

#grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "oferta" "servicios" "publicidad" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100px 2fr 1fr 100px;
      grid-template-rows: 100px 2fr 1fr 100px;
  gap: 5px;
}

.menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productosFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: pink;
  text-align: center;
}

@media (min-width: 768px) {
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "nav    nav" "oferta  publicidad" "servicios publicidad " "footer    footer";
    -ms-grid-columns: 25% auto;
        grid-template-columns: 25% auto;
    -ms-grid-rows: 100px 2fr 1fr 100px;
        grid-template-rows: 100px 2fr 1fr 100px;
    gap: 5px;
  }
  .menuFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productosFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: pink;
  }
}

/*desktop*/
@media (min-width: 1024px) {
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav header    header" "nav oferta publicidad" "nav servicios publicidad" "nav footer    footer";
    -ms-grid-columns: 20% auto 15%;
        grid-template-columns: 20% auto 15%;
    -ms-grid-rows: 100px 2fr 1fr 100px;
        grid-template-rows: 100px 2fr 1fr 100px;
    gap: 10px;
  }
  .menuFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productosFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: pink;
  }
  /*estilos Flex*/
}
/*# sourceMappingURL=style.css.map */